:root {
    /* Primary Colors */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    --eastern-blue: hsl(200, 100%, 63%);
    
    /* Neutral Colors */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

/* body {
    border: 1px solid black;
} */

.header {
    padding-top: 15px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 10%;
    color: var(--white);
    background-color: var(--eastern-blue);
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.nav a:hover {
    color: var(--yellow);
}

.sc-one {
    padding-top: 5%;
    color: var(--white);
    background-color: var(--eastern-blue);
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    height: 85vh;
    width: 100%;
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.arrow {
    height: 20vh;
    margin-bottom: 40vh;
}

.sc-two {
    width: 100%;
    height: 50vh;
}

.sc-three {
    width: 100%;
    height: 50vh;
}

.sc-four {
    width: 100%;
    height: 50vh;
}