@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Primary Colors */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);

    --eastern-blue: hsl(200, 100%, 63%);
    
    /* Neutral Colors */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0%;
    padding: 0%;
    
    box-sizing: border-box;
}

/* body {
    border: 1px solid black;
} */

.header {
    font-family: "Barlow", sans-serif;
    padding-top: 35px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 10%;
    color: var(--white);
    background-color: var(--eastern-blue);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.nav a:hover {
    color: var(--yellow);
}

.btn-contact {
    text-align: center;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
    border: none;
    height: 35px;
    width: 75px;
    border-radius: 25px;
    font-family: "Fraunces";
    font-weight: 700;
}

.sc-one {
    font-family: "Fraunces", serif;;
    padding-top: 5%;
    color: var(--white);
    background-color: var(--eastern-blue);
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    height: 85vh;
    width: 100%;
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.arrow {
    height: 15vh;
    margin-bottom: 30vh;
}

.subtitle {
    font-family: "Fraunces", serif;
    color: var(--very-dark-desaturated-blue);
    font-size: 2.7rem;
    padding-bottom: 1rem;
    font-weight: 900;
}

.text {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    color: var(--dark-grayish-blue);
    text-align: justify;
}

/* SECCIÓN DOS */

.sc-two {
    width: 100%;
    height: 70vh;
    display: flex;
}

.sc-two-div-one {
    width: 50%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-two-div-two {
    height: auto;
    width: 50%;
    background-image: url(/images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* SECCIÓN TRES */

.sc-three {
    width: 100%;
    height: 70vh;
    display: flex;
}

.sc-three-div-one {
    width: 50%;
}

.sc-three-div-one {
    height: auto;
    width: 50%;
    background-image: url(/images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sc-three-div-two {
    width: 50%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-four {
    width: 100%;
    height: 70vh;
}